:root {
  /* COLORS */ 
  --primary-color: #FD6F00;   /* Global primary color */
  --secondary-color: #202020; /* Global secondary color */
  --natural-color: #FFFFFF;   /* Global natural color */

  /* H1 */
  --font-size-h1: 100px;
  --font-weight-h1: 700;
  --line-height-h1: 100px;
  --font-style-h1: normal;
  --font-family-h1: 'Urbanist', sans-serif;
  --color-h2: var(--secondary-color); /* Dark */

  /* H2 */
  --font-size-h2: 80px;
  --font-weight-h2: 700;
  --line-height-h2: normal; 
  --font-style-h2: normal;
  --font-family-h2:'Urbanist', sans-serif;
  --color-h2: var(--secondary-color); /* Dark */

  /* H3 */
  --font-size-h3: 30px;
  --font-weight-h3: 500;
  --line-height-h3: normal;
  --font-style-h3: normal;
  --font-family-h3: 'Poppins', sans-serif; 
  --color-h3: var(--secondary-color); /* Dark */

  /* Body */
  --font-size-body: 18px;
  --font-weight-body: 400;
  --line-height-body: 32px;
  --font-family-body: 'Poppins', sans-serif; 
  --color-body: var(--secondary-color); /* Dark */

  /* Text (P tag) */
  --font-size-text: 30px;
  --font-weight-text: 500;
  --line-height-text: normal;
  --text-align-text: center;
}

/* BACKGROUND */
  
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--natural-color); /* White */
}

/* APPLY TYPOGRAPHY STYLES */ 

/* Apply the H1 styles */
h1 {
  font-family: var(--font-family-h1-h2); /* Urbanist */
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
  line-height: var(--line-height-h1);
  font-style: var(--font-style-h1);
  margin: 0;
  padding: 0;
}

/* Apply the H2 styles */
h2 {
  font-family: var(--font-family-h1-h2); /* Urbanist */
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  line-height: var(--line-height-h2);
  font-style: var(--font-style-h2);
  color: var(--color-h2);
  margin: 0;
  padding: 0;
}

/* Apply the H3 styles */
h3 {
  font-family: var(--font-family-h3); /* Poppins */
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
  line-height: var(--line-height-h3);
  font-style: var(--font-style-h3);
  color: var(--color-h3);
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

/* Apply the Body styles */
body {
  margin: 0;
  font-family: var(--font-family-body); /* Poppins */
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body);
  color: var(--color-body); 
}

/* Apply the Text / P tag */
p {
  font-family: var(--font-family-body); /* Poppins */
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-text);
  line-height: var(--line-height-text);
  text-align: var(--text-align-text);
  color: var(--color-body); 
}


