.article-card {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    overflow: hidden;
  }
  
  .article-content {
    padding: 20px;
    align-items: left;
  }
  
  .article-date {
    color: white;
    background-color: black;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
    border-radius: 4px;
    padding: 4px 8px;
  }
  
  .article-title {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 8px 0;
    text-align: left;
  }
  
  .article-description {
    font-size: 14px;
    color: black;
    margin-bottom: 16px;
  }
  
  .article-button {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: black;
    border: none;
    background: none;
  }