/* HERO SECTION STYLES */ 

.hero-container {
    display: flex;
    padding: 8rem 8rem 4rem 8rem;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto; /* Center the container */
    box-sizing: border-box;
  }
  
.hero-section h1 {
    margin-bottom: 2rem;
}
.hero-section h3,
.hero-section p {
    margin: 0;
}

.hero-container {
    width: 74rem;
    height: 34.2rem;
    display: flex;
    padding: 8rem 8rem 4rem 8rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  
  /* TEXT BOX STYLING */

  .text-box {
    max-width: 50%;
    gap: 2rem;
    align-items: flex-start;
    text-align: left;
  }
  .body-text {
    margin-top: 2rem;
    text-align: left;
  }

/* SOCIAL ICONS */ 

.social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 4rem; /* Adds space above the icons */
  }
  
  
  .icon {
    width: 2rem; 
    height: 2rem;
    transition: transform 0.3s; 
  }
  
  .icon:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
  }
  
/* IMAGE BOX */ 

.image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19.5rem;
    height: 19.5rem;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    border: 0.25rem solid #FD6F00; /* Primary color for the circle border */
    }
    
.profile-image {
    width: 100%;
    height: auto;
}