/* ========== HERO SECTION STYLES ========== */

.hero-container {
    display: flex;
    padding: 8rem 8rem 4rem 8rem;
    justify-content: space-between;
    align-items: center;
    max-width: 74rem; 
    width: 74rem;
    /*height: 34.2rem; */
    margin: 0 auto; /* Center the container */
    box-sizing: border-box;
}
  
  /* ========== TEXT BOX STYLING ========== */

  .text-box {
    max-width: 55%;
    gap: 2rem;
    align-items: flex-start;
    text-align: left;
  }
  .text-box h1 {
    white-space: pre-line; /* Recognizes \n as a line break */
    margin-bottom: 2rem; 
    max-width: 15rem; /* To line break the two words */
  }
  .text-box .body-text {
    margin-top: 2rem;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; 
  }
  .text-box h3, 
  .text-box p {
    margin: 0;
}
  
/* ========== IMAGE BOX ========== */

.image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19.5rem;
    height: 19.5rem;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    border: 0.25rem solid #FD6F00; /* Primary color for the circle border */
    }
    
.profile-image {
    width: 100%;
    height: auto;
}


