/* ========== SOCIAL ICONS STYLING ========== */

/* 

This component styles the icons for the social media, such as GitHub and LinkedIn.

*/

.social-icons {
    display: flex;
    gap: 1rem;
  }
  
  .icon {
    width: 2rem; 
    height: 2rem;
    transition: transform 0.3s; 
  }
  
  .icon:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
  }