/* button.css */

/* Base styling for all buttons */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    font-family: var(--font-family-body);
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .button .label {
    margin-left: 0.5rem;
  }
  
  /* Outlined style */
  .button.outlined {
    background-color: var(--natural-color);
    color: var(--primary-color);
  }
  
  .button.outlined:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
  /* Filled style */
  .button.filled {
    background-color: var(--primary-color);
    color: var(--natural-color);
    border: none;
  }
  
  .button.filled:hover {
    background-color: var(--secondary-color);
  }
  
  /* Full-width style */
  .button.full-width {
    width: 100%;
  }
  